
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Indie-Flower, Oswald, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings & Logo */

h1, h2 {
    font-family: Indie-Flower, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525
}

/* Pi Logo */

#pi-logo {
    
    background-image: url('../images/Pi.JPG');
    background-position: left;
    background-size: 20%;
    background-repeat: no-repeat;
    
}

#logo {
    float: left;
    font-size: 150%;
}

/* Nav Links */
#menu { 
    font-size: 100%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* Math image */

#math-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#math-image {
    height: 500px;
    width: 1000px;
    background-image: url('../images/math\ logo\ 5\ freepik.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

    /* animation zoom effect on loading page*/
    animation-name: math-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates a level of zoom for math-image */

@keyframes math-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

    
}
